body {
    font-family: sans-serif;
    
    background: rgb(20,33,61);
    background: radial-gradient(circle, rgba(20,33,61,1) 0%, rgba(0,0,0,1) 100%);
}

.wrap {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.list-body {    
    background-color: whitesmoke;
    border-radius: 20px;

    width: 500px;
    max-width: 500px;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.header h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.add-section {
    background-color: lightgray;
    border-radius: 25px;
    margin-right: 2rem;

    display: flex;
    justify-content: space-between;

    input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 15px;
        color: black;
    }
}

.addbutt {
    padding: 15px;
    width: 100px;
    background: salmon;
    border: none;
    border-radius: 40px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;
}

.addbutt:hover {
    background: orange;
    transition: 0.2s;
}

ul li { /* our task items using UL and LI*/
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    user-select: none; /* determines what you can and can't select */
    padding: 1rem;

    display: inline-block;
    width: fit-content;

    /* border: 1px solid black; */

    cursor: pointer;
    transition: 0.2s;
}

ul {
    display: flex;
    flex-direction: column;

    padding-left: 0; /* by default it's padded */
    margin-bottom: 10%;
    margin-right: 2rem;

    position: relative; /* remember, this is necessary if you want children to be absolute relative to parent */
}

.checked {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

ul li span { /* for dynamically instantiating to the right */
    position: absolute;
    right: 0;
    top: auto;
    font-size: auto;
    color: rgba(0, 0, 0, 0.5);
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 50%;

    transform-origin: center;
    /* transform: rotate(0); */
    transition: 0.2s;
    scale: 1;
}

ul li:hover {
    transition: 0.2s;
    color: salmon;
}

ul li span:hover {
    color: salmon;
    transition: 0.2s;
    transform-origin: center;
    /* transform: rotate(180deg); */
    scale: 1.25;
}