* {
    --color-background: #dddddd;
    --color-text: #222222;
}

body {
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.wrap {
    max-width: 768px;
    margin-inline: auto;
}

.header {
    margin-top: 5%;
    border-bottom: 1px solid var(--color-text);
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 1rem;
}

.titleBox {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.title {
    font-weight: 600;
    font-size: 1.25rem;
}

.subtext {
    opacity: 50%;
    font-size: 0.75rem;
}

.imagegrid {
    margin-top: 5%;

    display: grid;
    justify-content: center;
    
    gap: 15px;

    /* feel like there are 2 solutions: grid-template-area and grid-template-columns using spanning on the images to make them extend, see both options below */
    grid-template-columns: repeat(3,1fr); /* this states to repeat 3 columns of equal width each taking 1 fraction of available space (1fr) and allow us to make images take up more space */
    /* grid-template-rows: repeat(3, 100px); */
    /* grid-template-areas: 
    "img1 img3 c"
    "img1 d] c"
    "img2 d f"
    ; this is saying the first image (a) should take up 2 spots, e should take up 1, b 2 etc. in the way presented visually, 
    we would then set each image to the area so, the rock that takes up the first 2 would be grid-area: a; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* make it cover the area, no distortion */

    opacity: 50%;
    transition: 0.2s;

    border-radius: 15px;
}

img:hover {
    opacity: 100%;
    scale: 1.05;
}

.imagegrid img:nth-child(1) {
    grid-row: span 2;
    /* border: 2px solid red; */
}

/* .imagegrid img:nth-child(2) {
    border: 2px solid green;
} */

.imagegrid img:nth-child(3) {
    grid-row: span 2;
    /* border: 2px solid blue; */
}

.imagegrid img:nth-child(4) {
    grid-row: span 2;
    /* border: 2px solid black; */
}

/* .imagegrid img:nth-child(5) {
    border: 2px solid white;
} */

/* .imagegrid img:nth-child(6) {
    border: 2px solid cyan;
} */

@media (max-width: 768px) {
    .imagegrid {
        grid-template-columns: 1fr;
    }

    .imagegrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 80vw;
        height: 33vh;
    }

    img:hover {
        opacity: 100%;
        scale: 1;
    }
}